*{
  font-family: Helvetica;
}

h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.heading h1{
  background: url("../imgs/pattern.jpeg");
}

.brushes h2{
  background-color: mediumspringgreen;
}

.frames h2{
  background-color: lightcoral;
}

.finishPaint h2{
  background-color: skyblue;
}

.price{
  font-weight: bold;
  color: blue;
}
